{% extends "base.html" %}
{% block title %}About | Alumni Interaction Portal{% endblock %}
{% block content %}
<div class="container py-5">
  <h1>About the Portal</h1>
  <p class="lead">The Alumni Interaction Portal is designed to support interaction between students and alumni.</p>
  <div class="row g-4 mt-2">
    <div class="col-md-4"><div class="card h-100 p-4"><h4>Mentorship</h4><p>Students can discover alumni and seek guidance about careers and skills.</p></div></div>
    <div class="col-md-4"><div class="card h-100 p-4"><h4>Career Guidance</h4><p>Alumni profiles provide professional information and career-focused insights.</p></div></div>
    <div class="col-md-4"><div class="card h-100 p-4"><h4>Networking</h4><p>The directory helps students identify alumni based on company, role, location and skills.</p></div></div>
  </div>
</div>
{% endblock %}
